table.chars {
	width: 100%;
	border-spacing:0px;
}

table.chars th  {
	background-color: #222;
	text-align: center;
	border-bottom: 1px solid #999;
}

table.chars td.header {
	height: 20px;
	background-color: #333;
	text-align: left;
}

table.chars td  {
	background-color: #111;
	vertical-align: middle;
	height:64px;
	text-align:center;
}

table .narrow {
	width:18px;
	text-align: center;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}