{% extends "base.tpl.html" %}

{% block headline %}<h2>Realmlist</h2>{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>{{t('id')}}</th>
            <th>{{t('realm', 'name')}}</th>
            <th>{{t('realm', 'adress')}}</th>
            <th>{{t('realm', 'asl')}}</th>
            <th>Build</th>
        </tr>
    </thead>
    <tbody>
        {% for realm in realms %}
        <tr>
            <td>{{realm.id}}</td>
            <td>{{realm.name}}</td>
            <td>{{realm.address}}:{{realm.port}}</td>
            <td>{{realm.allowedsecuritylevel}}</td>
            <td>{{realm.gamebuild}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

