.membersList td {text-align: center;}
.membersList td.columnUsername {text-align: left;}
.membersList td.columnAvatar {height: 50px;}
.tableList tr.disabled,
.tableList tr.disabled:hover,
.disabled div.messageInner {background-color: #efe;}
.disabled td, .disabled div.messageInner {background-image: none;}
.tabMenuContent .disabled .messageInner *,
.disabled .messageSidebar *,
.tableList tr.disabled td,
.tableList tr.disabled td a,
.tableList tr.disabled td a:hover,
.tableList tr.disabled td .light,
.tableList tr.disabled td .light a,
.tableList tr.disabled:hover .columnTopic .topic a {color: #090;}
.disabled div.messageInner {border-color: #090 !important;border-style: dashed !important;}
.tableList tr.deleted,
.tableList tr.deleted:hover,
.tabMenuContent .deleted .messageInner *,
.tableList tr.deleted td,
.tableList tr.deleted td a,
.tableList tr.deleted td a:hover,
.tableList tr.deleted td .light,
.tableList tr.deleted td .light a,
.tableList tr.deleted:hover .columnTopic .topic a {color: #c00;}
.tableList tr.marked,
.tableList tr.marked:hover,
.tabMenuContent .marked .messageInner *,
.tableList tr.marked td,
.tableList tr.marked td a,
.tableList tr.marked td a:hover,
.tableList tr.marked td .light,
.tableList tr.marked td .light a,
.tableList tr.marked:hover .columnTopic .topic a
.tableList tr.marked:hover .columnTitle a
.tableList tr.marked:hover .columnUsername a {color: #333;}
.marked {border-style: dashed !important;}
table .marked, table .deleted, table .activeContainer {border: none !important;}

.border {border-width: 1px;}

!important;padding: 5px 7px 5px 35px !important;float: none !important;height: auto !important;display: block !important;}
.memberList {list-style: none;margin: 0;padding: 0;}
.memberList:after {content: "";clear: both;display: block;height: 0;}
.memberList li {border: 1px;margin: 5px 10px 5px 0;padding: 1px;display: block;float: left;position: relative;width: 200px;}
.memberList li .memberName {text-decoration: none;border-width: 0 1px 0 0;border-style: solid;padding: 3px 3px 3px 24px;display: block;width: 150px;}
.memberList li > img {margin: -8px 4px 0 4px;position: absolute;top: 50%;left: 0;}
.memberList li a > img {border: none;margin: -12px 4px 0 4px;padding: 4px 3px;position: absolute;top: 50%;right: -3px;}

.userGroupsList {list-style-type: square;}
.userGroupsList h4 {margin-bottom: 5px;font-weight: bold;}
.userGroupsList p {margin-bottom: 5px;}
.userGroupsList li {margin-bottom: 5px;clear: both;}
.userGroupsList li .smallButtons {float: right;clear: both;position: relative;}
.tableList {border-spacing: 0;margin: 0;padding: 0;width: 100%;}
.tableList tbody tr:hover .columnTopic .topic p a, .tableList tbody tr:hover .columnUsername p a, .tableList tbody tr:hover .columnTitle p a {text-decoration: none;}
.tableList th {border-width: 0 1px 1px 0;border-style: solid;font-weight: normal;}
.tableList td {border-width: 0 1px 1px 0;border-style: solid;padding: 4px;}
.tableList td a {text-align: left;}
.tableHead div {text-align: center;border-width: 0 0 1px 0;border-style: solid;margin: -1px;}
.tableHead a, .tableHead .emptyHead {text-decoration: none;white-space: nowrap;border-width: 0 0 1px 0;border-style: solid;padding: 2px 4px 0 4px;display: block;min-height: 19px;}
.tableHead a img {margin: -3px 0 0 0;padding: 0;}
.tableHead .active a {border-width: 0 0 1px 0;}
.tableHead .emptyHead {white-space: normal;position: relative;}
.tableList td.columnText {text-align: left;}
.tableList td.columnNumbers, .tableList td.columnDate {text-align: right;white-space: nowrap;}
.tableList td.columnID {width: 1%;text-align: right;}
.tableList td.columnIcon {width: 1%;white-space: nowrap;}
.tableList td.columnMark {width: 1%;}
.tableList .statusDisplay {float: right;height: 24px;}
.memberList li .memberName,.messageNumber,.optionButtons a,.smallButtons a{background-color:#333333}
.memberList li .memberName{border-color:#333333}
.memberList li .memberName:hover,.messageNumber:hover,.optionButtons a:hover,.pageNavigation li ul,.smallButtons li a:hover{background-color:#333333}
.memberList li,.memberList li .memberRemove{background-color:#000000}
.optionButtons a,.pageNavigation a,.pageNavigation li span,.smallButtons a{border-color:#000000}
.memberList li .memberRemove:hover,.memberList li:hover{background-color:#000000}
.optionButtons a:hover,.pageNavigation a:hover,.smallButtons a:hover{border-color:#000000}
.pageNavigation li.children:hover > span{border-color:#000000}
.optionButtons a,.pageNavigation a,.pageNavigation li span,.smallButtons a{border-style:solid}
.optionButtons a,.pageNavigation a,.pageNavigation li span,.smallButtons a{border-width:1px}
.memberList li,.messageNumber,.optionButtons li,.pageNavigation li,.smallButtons li{border-color:#121212}
.memberList li:hover,.messageNumber:hover,.optionButtons li:hover,.pageNavigation li:hover,.smallButtons li:hover{border-color:#000000}
.memberList li,.messageNumber,.optionButtons li,.smallButtons li{border-style:solid}
.memberList li,.messageNumber,.optionButtons li,.smallButtons li{border-width:1px}
.memberList li .memberName,.messageInner .color-1 .smallButtons a,.messageInner .color-2 .smallButtons a,.messageNumber,.optionButtons 
.border .container-1 a:active,.border .container-2 a:active,.border .container-3 a:active,.border .containerHead a:active,.userPanel a:active,a:active{color:#fff}
.tableList{
	border:1px solid #000;
	border-collapse:collapse;
}
.container-1 fieldset,.container-1 fieldset fieldset.noJavaScript fieldset,.container-2,.container-2 fieldset fieldset,.container-3 fieldset,.weekDays,fieldset fieldset {
background-image: url("tbc_dot_33.png");
}
.container-1,.container-1 fieldset fieldset,.container-2 fieldset,.inlineCalendarTable,.pageNavigation li ul,fieldset {
background-image: url("tbc_dot_12.png");
}

.inlineCalendarTable a {
background-image: url("tbc_dot_12.png");
}
.tableHead .active,.tableHead .active a{background-color:#333333}
.tableHead .active a:hover{background-color:#333333}
.tableHead .active div{border-color:#be0000}
.tableHead .active div:hover{border-color:#ff0000}
.tableHead .active,.tableHead .active a{color:#ffffff}
.tableHead .active a:hover{color:#ffffff}
.tableHead,.tableHead a{background-color:#121212}
.tableHead a:hover,.tableHead label:hover{background-color:#333333}
.tableHead div{border-color:#333333}
.tableHead div:hover{border-color:#3f0}
.tableHead div{border-style:solid}
.tableHead,.tableHead a{color:#ffffff}
.tableHead a:hover,.tableHead label:hover{color:#ffffff}
/* Extra Styles */

.container-1, .container-2, .container-3, .containerHead {
margin: 0px 1px 1px 0px  !important;
}

.container-1,.container-1 fieldset fieldset,.container-2 fieldset,.inlineCalendarTable,.pageNavigation li ul,fieldset {
background: url("tbc_dot_12.png");
}

.border .tableList td,.border .tableList th,.dividers .messageAuthor,.dividers .tocHeadline,.dividers .userAvatar,.dividers .userCredits,.dividers .userMessenger,.inlineCalendarFooter td a,.inlineCalendarFooter td span,.inlineCalendarHeader td a,.inlineCalendarHeader td span,.mainMenu,.mainMenu a,.mceEditor .mceColors li,.messageContent,.messageInner,.subTabMenu div.containerHead,.tableHead .emptyHead,.tableHead a,.tabMenu li a,.userAvatar,.userAvatarFramed,.userProfileContent .fieldValue {
border-color: #000000;
border-style: solid;
}

.border {
background-image: url("tbc_moon.png");
background-position: right top;
background-repeat: no-repeat;
}

.container-1:hover{
background: url("tbc_dot_33.png");
}
.container-1{
background: url("tbc_dot_12.png");
}

.tableList td {
border-top-width: 1px;
border-bottom-width: 0px;
}

.tableList th {
border-bottom-width: 0px;
}
