html, body{
  margin:0px;
  padding:0px;
  background:#000000 url('../images/bg2.jpg') repeat-y top center;
}

#wrapper{
  margin:0px;
  padding:0px;
  background: url('../images/bg.jpg') no-repeat top center;
}

#page{
  width: 1000px;
  padding:0px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  background-color:#000000;
}

/*#menutable{
	position:relative;
	height:85px;
	width:700px;
	margin:0px;
	padding:0px;
	background:url(../images/Body_01.jpg) no-repeat;
}*/

#menu{
	position:relative;
	height:23px;
	width:1000px;
	margin:0px;
	padding:5px;
	padding-top:10px;
	background:url(../images/top.jpg) no-repeat;
}

.menu_top{
	margin:0px; padding:0px;
	list-style:none;
}
.menu_top li{
	margin:0px; padding:0px;
	margin-right:30px;
	float:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 0.85em;
}

#header{
  position:relative;
  margin:0px;
  padding:0px;
  background:url(../images/header.jpg) no-repeat;
  height: 321px;
}

#content {
	position:relative;
	min-height: 500px;
	margin: 0px;
	padding: 0px 30px;
	background:url(../images/content_bg.jpg) repeat-y;
}

#container_top{
  position:relative;
  margin:0px;
  height:69px;
  color:white;
  text-align:left;
  background:url('../images/body.jpg') no-repeat;
}

#footer{
  margin:0px;
  padding:0px;
  height:154px;
  width:1000px;
  text-align:center;
  color:#FFFFFF;
  background:url('../images/footer.jpg') no-repeat;
  background-color:#000;
}

#footer * {
	width: 100%;
	position: relative;
	bottom: 0;
	text-align: center;
}

#useravatar {
	
}

#useravatar img {
	position: absolute;
	top: 10px;
	left: 55px;
	width: 55px;
	height: 55px;
}

a{
text-decoration:none;
color:#fff;
}