<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} -s [OR] 
RewriteCond %{REQUEST_FILENAME} -l [OR] 
RewriteCond %{REQUEST_FILENAME} -d 

RewriteBase /robigo/mangos_web_test/

RewriteRule ^([^/.]+)/$ index.php?c=$1
RewriteRule ^([^/.]+)/([^/.]+)$ index.php?controller=$1&action=$2
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)$ index.php?controller=$1&action=$2&$3
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>
