{% extends "base.tpl.html" %}
{% block headline %}
<h2>#{{guild.guildid}} {{guild.name}}</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    {% if permitted_to('edit','guilds') %}
    <li><a class="remote_form button" title="Edit Guild {{guild.guildid}}" href="{{link_to('guilds', 'edit', {'guildid': guild.guildid, 'rid': guild.realm.id})}}">
        <img src="/images/icons/user_edit.png" /> Edit
    </a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div style="float:left; width: 49%">
{{ ajax_pagination_bar('Character', members_count, params , 1, 'guilds', 'members', '#members') }}
{% set members_body %}{{ include_over_ajax("members", link_to('guilds','members',{'partial': 1, 'id': guild.id, 'rid': guild.realm.id, 'page':2 })) }}{% endset %}
{{ macros.box('Members', members_body) }}
</div>
<div style="float:right; width: 49%">
</div>
{% endblock content %}
