{% extends "base.tpl.html" %}
{% block headline %}
<h2>#{{guild.guildid}} {{guild.name}}</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    {% if permitted_to('edit','guilds') %}
    <li><a class="remote_form button" title="Edit Guild {{guild.guildid}}" href="{{link_to('guilds', 'edit', {'guildid': guild.guildid, 'rid': guild.realm.id})}}">
        <img src="/images/icons/user_edit.png" /> Edit
    </a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div style="float:left; width: 49%">
    <table style="text-align: left" class="hovering">
        <thead>
        <tr style="text-align: left">
            <th></th>
            <th>Rank</th>
            <th>{{ t('name') }} (GUID)</th>
            <th>{{ t('account','name') }}</th>
            <th>{{ t('level') }}</th>
            <th>{{ t('location') }}</th>
            <th style="width: 50px">{{ t('status') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for char in guild.members %}
        <tr>
            <td>{{ char|factionicon }} {{char|raceicon}} {{char|classicon}}</td>
            <td style="text-align: center">{{ char.rank }}</td>
            <td>#{{ char.guid }} {{link_to_character(char)}}</td>
            <td>{{ link_to_character_account(char) }}</td>
            <td>{{ char.level }}</td>
            <td>{{ char|mapname }} - {{ char|zonename }}</td>
            <td>{{ char|character_status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="float:right; width: 49%">
</div>
{% endblock content %}
