html, body{
  margin:0px;
  padding:0px;
  //background: url('../images/bg_bottom.jpg') no-repeat bottom center;
  background-color:#060A13;
}

#wrapper{
  margin:0px;
  padding:0px;
  //background: url('../images/bg_top.jpg') no-repeat top center;
}

#page{
  width: 700px;
  padding:0px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #777;
	border-right: 1px solid #777;
  background-color:#081019;
}

#menutable{
	position:relative;
	height:49px;
	width:700px;
	margin:0px;
	padding:0px;
}

#menu{
	margin:0px;
	padding:0px;
	height:46px;
	width:472px;
	background:url(images/menu_bottom.jpg) no-repeat;
}
#menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
	width:476px;
}
#menu li{
	margin:0px;
	padding:0px;
	float:left;
	background:url(images/menu_04.jpg) no-repeat;
	height:26px;
	width:118px;
	text-align:center;
	padding-top:20px;
	margin-right:1px;
}
#menu li:hover{
	background:url(images/menu_light_04.jpg) no-repeat;
}
#menu a{
	height:46px;
	width:118px;
	text-decoration:none;
	color:#FFF;
	font-family:verdana;
	font-size:12px;
	font-weight:300;
}
	
#menurechts{
	position: absolute;
	top: 0px;
	right:0px;
	margin:0px;
	padding:0px;
	width:200px;
}

#menurechts .realm {
	width:100px;
	padding: 5px 10px;
	background-color: #000;
	color:#FFF;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom: 2px;
}
#menurechts-data-tiny{
	margin-top:3px;
	font-size:9px;
	font-family:Verdana, Geneva, sans-serif;	
}


#header{
  position:relative;
  margin:0px;
  padding:0px;
  background:url(../images/Body_02.jpg) no-repeat;
  height: 207px;
  
}
/* Start of Header */
	
	
	#news{
		position:absolute;
		top:50px;
		left:-224px;
		
		margin:0px;
		
		padding-top:50px;
		padding-left:20px;
		padding-right: 10px;
		padding-bottom: 20px;
		
		width:183px;
		height:213px;
		
		font-size:9pt;
		text-align:justify;
		font-family:Verdana, Geneva, sans-serif;
		
		color:#CCC;
		background:url(../images/news_bg.jpg);
	}
/* End of Header */

#container_bg{
  position:relative;
  margin:0px;
  color:white;
  text-align:left;
  background:url('../images/content_bg.jpg') no-repeat bottom center;
  background-color:#081019;
}
container{
  position:relative;
  margin:0px;
  padding:20px 20px 0px 20px;
  color:white;
  text-align:left;
  background:url(../images/Body_03.jpg) no-repeat top center;
  background-color:#081019;
}

#footer{
  margin:0px;
  height:75px;
  width:700px;
  text-align:center;
  color:#FFFFFF;
  background:url('../images/footer.jpg') no-repeat;
}

#footer * {
	width: 100%;
	position: relative;
	bottom: 0;
	text-align: center;
}

a{
text-decoration:none;
color:#fff;
}