.comment {
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
}

.comment .gravatar {
    float: left;
    margin-right: 10px;
}

.comment-menu {
    position: absolute;
    top: 0px;
    left: 0px;
}

.comment h3 {
    margin: 0;
}

.comment .author {
    float: right;
    display: block;
}

.comment .title {
    border-bottom: 1px solid lightgray;
    margin-left: 70px;
}

.comment .infos {
    margin-left: 70px;
    margin-top: 10px;
    text-align: right;
}

.comment .created {
    float: left;
    font-size: 75%;
}

.comment .modified {
    float: right;
    font-size: 75%;
}

.comment p {
    margin-top: 2px;
}