.niceform label, .niceform input {
    display: block;
}

.niceform label {
    font-size: 90%;
}

.niceform fieldset {
    padding: 0;
    border: 0;
}

.niceform input, .niceform textarea  {
    width: 98%;
    margin-bottom: 12px;
}
