.niceform input, .niceform textarea {
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;
}

.niceform .ui-button {
    width: auto;
    margin-bottom: 0px;
}

.niceform {
    background: none !important;
    border: none !important;
}

.niceform label, .niceform input {
    display: block;
}

.niceform label {
    font-size: 90%;
}

.niceform fieldset {
    padding: 0;
    border: 0 none;
}

form {

}

#formmenu ul {
    margin:5px 0 0 0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    line-height:1.5em;
}

#formmenu a{
    display:block;
    padding:2px 5px;
}

#formmenu li{
    float:left;
}

.form_button {
    display:table-cell;
    background-color: #777;
    margin: 0px 2px;
    text-decoration: none;
    display: block;
}

.form_button:hover {
    background-color: #AAA;
    text-decoration: none;
}

.form_button * {
    vertical-align: middle;
}

.disabled {
    background-color: #BBB;
}

.disabled:hover {
    background-color: #BBB;
}

fieldset {
    border: 1px solid #DDD;
    margin-bottom: 5px;
}

fieldset legend {
    font-size: 80%;
    color: grey;
}