html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#wrapper {
    width: 100%;
}

#header {
    width: auto;
    height: 50px;
    color: #FFF;
    background-color: green;
    padding: 5px;
}

#header h1 {
    margin: 0;
    padding: 0;
    width: 60%;
}

#topbar {
    width: auto;
    height: 20px;
    background-color: darkgreen;
}

#usermenu {
    float: right;
    padding: 2px;
}

#center {
    width: auto;
    padding: 5px;
}

#content {
    width: 100%;
}

#footer {
    padding: 5px 20px;
    text-align: right;
    clear: both;
}

#subheader h2 {
    border-bottom: 1px solid grey;
    color: gray;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 3px 0px;
}

#contentmenu {
    float: right;
}

#contentmenu ul {
    margin:5px 0 0 0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    line-height:1.5em;
}

#contentmenu a{
    display:block;
    padding:0px 5px;
}

#contentmenu li{
    float:left;
}

#searchbox {
    float: right;
}