/* 
    Document   : loginpage
    Created on : 08.06.2011, 16:48:22
    Author     : mriedmann
    Description:
        Style of the Loginpage
*/
#logincontainer {
    width: 100%;
    text-align: center;
}

#loginbox {
    text-align: left;
    display: block;
    margin: 40px auto;
    position: relative !important;
}

table {
    border: none;
    width: 100%;
}

.logininputs {
    width: 95%;
}

