/* 
    Document   : misc
    Created on : 15.06.2011, 16:54:45
    Author     : mriedmann
    Description:
        Purpose of the stylesheet follows.
*/

.moneygold {
    background: url(../images/icons/money-gold.gif) 100% 50% no-repeat;
    padding-right: 15px;
    margin-right: 5px;
    color: black !important;
}

.moneysilver {
    padding-right: 15px;
    background: url(../images/icons/money-silver.gif) 100% 50% no-repeat;
    margin-right: 5px;
    color: black !important;
}

.moneycopper {
    background: url(../images/icons/money-copper.gif) 100% 50% no-repeat;
    padding-right: 15px;
    margin-right: 5px;
    color: black !important;
}
#pagination{
    height: 25px;
}

#pagination .current_page {
    background-color: lightgreen;
    color: black;
}

#pagination a{
    float: left;
    display: block;
    padding: 2px;
    border: 1px solid darkgreen;
    margin-right: 5px;
    min-width: 15px;
    text-align: center;
}

#pagination a:hover{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
}

#pagination-info {
    float: right;
}

.gravatar {
    display: block;
    width: 64px;
    height: 64px;
}

.gravatar-small {
    display: block;
    width: 32px;
    height: 32px;
}

.box {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    position: relative;
}

.box .headline {
    padding: 2px 2px 2px 5px;
    background-color: darkgray;
    font-size: 120%;
    font-weight: bold;
}

.box .menu {
    position: absolute;
    top: 1px;
    right: 2px;
}

.level {
    position:absolute;
    top: 0px;
    right: 3px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
    display:table-cell;
    background-color: #DDD;
    margin: 0px 2px;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
}

.button:hover {
    background-color: #BBB;
    text-decoration: none;
}

.button * {
    vertical-align: middle;
}

#deletedate {
    position:absolute;
    top:-25px;
    right:0px;
    white-space: nowrap;
    font-size: 90%;
}

.ajax_loading {
    min-height: 20px;
    background:url('/images/ajax-loader.gif') center no-repeat;
}

.ajax_error {
    min-height: 20px;
    background:url('/images/icons/cross.png') center no-repeat;
}

.account_check {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.account_check_success {
    background-image: url(/images/icons/tick.png);
}

.account_check_loading {
    background-image: url(/images/ajax-tiny-loader.gif);
}

.account_check_failed {
    background-image: url(/images/icons/cross.png);
}