/* 
    Document   : misc
    Created on : 15.06.2011, 16:54:45
    Author     : mriedmann
    Description:
        Purpose of the stylesheet follows.
*/

.moneygold {
    background: url(../images/icons/money-gold.gif) 100% 50% no-repeat;
    padding-right: 15px;
    margin-right: 5px;
}

.moneysilver {
    padding-right: 15px;
    background: url(../images/icons/money-silver.gif) 100% 50% no-repeat;
    margin-right: 5px;
}

.moneycopper {
    background: url(../images/icons/money-copper.gif) 100% 50% no-repeat;
    padding-right: 15px;
    margin-right: 5px;
}
#pagination{
    height: 25px;
}

#pagination .current_page {
    background-color: lightgreen;
    color: black;
}

#pagination a{
    float: left;
    display: block;
    padding: 2px;
    border: 1px solid darkgreen;
    margin-right: 5px;
    width: 15px;
    text-align: center;
}

#pagination a:hover{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
}

.gravatar {
    display: block;
    width: 64px;
    height: 64px;
    background-color: lime;
}

.box {
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.headline {
    padding: 2px 2px 2px 5px;
    background-color: darkgray;
    font-size: 120%;
    font-weight: bold;
}

.level {
    position:absolute;
    top:0;
    right:0;
    font-weight: bold;
    color: white;
}