/* 
    Document   : misc
    Created on : 15.06.2011, 16:54:45
    Author     : mriedmann
    Description:
        Purpose of the stylesheet follows.
*/

.moneygold {
	background: url(../images/icons/money-gold.gif) 100% 50% no-repeat;
	padding-right: 15px;
	margin-right: 5px;
}

.moneysilver {
	padding-right: 15px;
	background: url(../images/icons/money-silver.gif) 100% 50% no-repeat;
	margin-right: 5px;
}

.moneycopper {
	background: url(../images/icons/money-copper.gif) 100% 50% no-repeat;
	padding-right: 15px;
	margin-right: 5px;
}
