/* 
    Document   : typo
    Created on : 08.06.2011, 16:59:39
    Author     : mriedmann
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

a {
    color: #050;
    text-decoration: none;
}

a:hover {
    color: #D70;
    text-decoration:underline;
}

#topbar a {
    color: #FFF;
    text-decoration: none;
}