<form method="post" id="form" class="niceform" name="form" action="{{link_to('account_banns','create')}}">
    <fieldset>
        <input type="hidden" name="id" value="{{ account_id }}"/>

        <label for="bantype">Type</label>
        <select name="bantype" id="bantype" onChange="banTypeChanged()">
            <option value="time">Time</option>
            <option value="perm">Perm</option>
            <option value="save">Save</option>
        </select>
        <div id="bantimebox">
        <label for="to">To</label>
        {{ selectDate() }}
        </div>
        <div id="banreasonbox">
        <label for="banreason">Reason</label>
        <textarea name="banreason"></textarea>
        </div>
        <input type="submit" name="submit" value="Save" />
    </fieldset>
</form>
