{% extends "base.tpl.html" %}

{% block content %}
{{ pagination_bar('AccountBan', bans_count) }}
<table style="text-align: center">
    <thead>
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Until</th>
            <th>By</th>
            <th>Reason</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ban in bans %}
        <tr>
            <td>{{ link_to_account(ban.account) }}</td>
            <td>{{ ban.bandate|date }}</td>
            <td>{%if ban.unbandate > 0 %}{{ ban.unbandate|date }}{% else %}PERM{% endif %}</td>
            <td>{{link_to_account(ban.banning_account)}}</td>
            <td>{{ ban.banreason }}</td>
            <td>{% if ban.active == 1 %}<img src="/images/icons/banned.jpeg" />{% endif %}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock content %}