<table style="text-align: left">
    <thead>
        <tr style="text-align: left">
            <th>{{t('time')}}</th>
            <th>{{t('name')}} (GUID)</th>
            <th>{{t('account', 'name')}}</th>
            <th>{{t('reason')}}</th>
            <th>{{t('location')}}</th>
            <th>{{t('realm')}}</th>
            <th>{{t('spell')}}</th>
            <th>{{t('online')}}</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in log_entries %}
        <tr>
            <td>{{ entry.alarm_time|date }}</td>
            <td>#{{ entry.guid }} {{link_to_character(entry.character)}}</td>
            <td>{{link_to_account(entry.character.accountobj)}}</td>
            <td>{{ entry.config.description }}</td>
            <td>{{ entry|mapname }} - {{ entry|zonename }}</td>
            <td>{{ entry.realm.name }}</td>
            <td>{{ entry.lastspell|wowhead_spell }}</td>
            <td class="narrow">{{ entry.character.online|online }}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>