<ul id="nav">
    <li><a href="{{link_to("accesslevels", "index")}}">Access Levels</a>
        <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">Lockdown</a></li>
        </ul>
    </li>
    <li><a href="{{link_to("accounts", "index")}}">Accounts</a>
        <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">Banned</a></li>
        </ul>
    </li>
    <li><a href="#">Characters</a>
        <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">Move</a></li>
        </ul>
    </li>
    <li><a href="#">Guilds</a>
        <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">Rename</a></li>
        </ul>
    </li>
    <li><a href="#">Premium-Codes</a>
        <ul>
            <li><a href="#">Search</a></li>
        </ul>
    </li>
</ul>

