<table>
    <thead>
        <tr>
            <th>{{t('date')}}</th>
            <th>{{t('until')}}</th>
            <th>{{t('by')}}</th>
            <th>{{t('reason')}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ban in bans %}
        <tr>
            <td>{{ ban.bandate|date }}</td>
            <td>{%if ban.unbandate == ban.bandate or ban.unbandate < ban.bandate %}PERM{% else %}{{ ban.unbandate|date }}{% endif %}</td>
            <td>{{ban|banning_gm}}</td>
            <td>{{ ban.banreason }}</td>
            <td>{% if ban.active == 1 %}<img src="/images/icons/banned.jpeg" />{% endif %}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>