<table style="text-align: center">
    <thead>
        <tr>
            <th class="narrow"></th>
            <th class="narrow"></th>
            <th>Name (GUID)</th>
            <th>Level</th>
            <th>Gold</th>
            <th>Map - Zone</th>
            <th>Spielzeit</th>
            <th>Realm</th>
            <th class="narrow"></th>
        </tr>
    </thead>
    <tbody>
        {% for char in characters %}
        <tr>
            <td class="narrow"><img src="{{char|avatar}}" /></td>
            <td class="narrow">{{ char|factionicon }}{{char|raceicon}}{{char|classicon}}</td>
            <td>{{ char.name }} ({{ char.guid }})</td>
            <td>{{ char.level }}</td>
            <td>{{ char.money|money }}</td>
            <td>{{ char|mapname }} - {{ char|zonename }}</td>
            <td>{{ char.totaltime|uptime }}</td>
            <td>{{ char.realm.name }}</td>
            <td class="narrow">{{ char.online|online }}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>