<table style="text-align: center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Leader</th>
            <th>CreateDate</th>
            <th>BankMoney</th>
        </tr>
    </thead>
    <tbody>
        {% for guild in guilds %}
        <tr>
            <td>{{ guild.name }} ({{ guild.guildid }})</td>
            <td>{{ guild.leader.name }}</td>
            <td>{{ guild.createdate|date }}</td>
            <td>{{ guild.bankmoney|money }}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>
