<table class="hovering">
    <thead>
        <tr>
            <th>{{ t('name') }}</th>
            <th>{{ t('guild', 'leader') }}</th>
            <th>{{ t('guild', 'createdate') }}</th>
            <th>{{ t('guild', 'bankmoney') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for guild in guilds %}
        <tr>
            <td>#{{ guild.guildid }} <a href="{{link_to('guilds', 'show', {'id': guild.guildid, 'rid': guild.realm.id})}}">{{ guild.name }}</a></td>
            <td><a href="{{link_to('characters', 'show', {'id': guild.get_leader.guid, 'rid': guild.get_leader.realm.id})}}">{{ guild.get_leader.name }}</a></td>
            <td>{{ guild.createdate|date }}</td>
            <td>{{ guild.bankmoney|money }}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>
