{% extends "base.tpl.html" %}

{% block content %}
<div id="motd" class="box collapsible">
<div class="headline">
{{ t('home', 'news') }}
</div>

<div class="body">
    {% include('shared/news.tpl.html') %}
</div>
</div>
<div style="float:left; width: 49%">
    {% set recent_events_body %}{{ include_over_ajax("events", link_to('events','index',{'partial': 1, 'page':1})) }}{% endset %}
    {{ macros.box(t('home','recent_events'), recent_events_body) }}
</div>
<div style="float:right; width: 49%">
    {% set sessions_body %}{{ include_over_ajax("session", link_to('session','index',{'partial': 1})) }}{% endset %}
    {{ macros.box(t('home','active_sessions'), sessions_body) }}
</div>
<div style="clear: both;"></div> 
{% endblock %}
