{% extends "base.tpl.html" %}

{% block content %}
<div id="motd" class="box collapsible">
<div class="headline">
Message Of The Day - {{motd_last_update|date}}
</div>
<div class="menu">
<a class="remote_form button" title="Edit MOTD" width="600" href="/motd/edit">
    <img src="/images/icons/comment_edit.png" />Edit</a>
</div>
<div class="body">
{{ motd|raw }}
</div>
</div>
<div style="float:left; width: 49%">
    {% set recent_events_body %}
        {% for event in recent_events %}
            {% include "shared/event.tpl.html" %}
        {% endfor %}
    {% endset %}
    {{ macros.box('Recent Events', recent_events_body) }}
</div>
<div style="float:right; width: 49%">
    {% set sessions_body %}{{ include_over_ajax("session", link_to('session','index',{'partial': 1})) }}{% endset %}
    {{ macros.box('Active Sessions', sessions_body) }}
</div>
<div style="clear: both;"></div> 
{% endblock %}
