<form method="post" id="form" class="niceform" name="form" action="{{link_to('news','create')}}">
    <fieldset>
        <label for="name">{{ t('form','title') }}</label>
        <input type="text" name="title" value="" />

        <label for="name">{{ t('form','content') }}</label>
        <textarea name="content" rows="20">{{ content|raw }}</textarea>

        <label for="weight">Weight</label>
        {{selectArray('weight', ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], 0, true) }}

        <input type="submit" name="submit" value="{{ t('form', 'add') }}" />
    </fieldset>
</form>