{% extends "base.tpl.html" %}

{% block headline %}
<h2>News</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    {% if permitted_to('edit', 'news') %}
    <li><a class="remote_form button" title="Add News" href="{{link_to('news', 'add')}}">
        <img src="/images/icons/comment_add.png" /> Add
    </a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{{ pagination_bar('News', news_count) }}
{% for news_item in news %}
    <div id="news-{{news_item.id}}" class="news_item box collapsible">
        <div class="headline">
            <span>{{news_item.title}}</span>
            {% if permitted_to('edit', 'news') %}<span style="color: #666; font-size: 60%">[{{news_item.weight}}]</span>{% endif %}
            <span style="float: right; margin-right: 50px">{{link_to_account(news_item.author)}} - {{news_item.updated_at|date}}</span>
        </div>
        <div id="contentmenu" class="menu">
            {{common_menu('news',news_item.id)}}
        </div>
        <div class="body news_item_content">
            {{news_item.content|raw}}
        </div>
    </div>
{% endfor %}

{% endblock %}