<form method="get" id="form" name="form" action="{{link_to('characters','index')}}">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ params.name }}" />

        <label for="guid">GUID</label>
        <input type="text" name="guid" value="{{ params.guid }}" />
        
        <label for="level">Level</label>
        <input type="text" name="level" value="{{ params.level }}" />

        <label for="realm">Realm</label>
        {{ selectArray('realm',realmnames,params.realm) }}
        
        <input type="submit" name="submit" value="Filter" />
    </fieldset>
</form>

    