{% extends "base.tpl.html" %}

{% block headline %}
<h2>#{{character.guid}} {{character.name}} (<a href="{{link_to('accounts', 'show', {'id': character.account})}}">{{character.account}}</a>)</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    <li><a class="remote_form button" title="Edit Character {{character.guid}}" href="{{link_to('characters', 'edit', {'id': character.guid, 'rid': character.realm.id})}}">
        <img src="/images/icons/user_edit.png" /> Edit
    </a></li>
</ul>
{% endblock %}

{% block content %}

{% endblock content %}
