{% extends "base.tpl.html" %}

{% block headline %}
<h2>#{{character.guid}} {{character.name}} (<a href="{{link_to('accounts', 'show', {'id': character.account})}}">{{character.account}}</a>)</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    <li><a class="remote_form button" title="Edit Character {{character.guid}}" href="{{link_to('characters', 'edit', {'id': character.guid, 'rid': character.realm.id})}}">
        <img src="/images/icons/user_edit.png" /> Edit
    </a></li>
    <li><a class="remote_form button" title="Move Character {{character.guid}}" href="{{link_to('characters', 'move', {'id': character.guid, 'rid': character.realm.id})}}">
        <img src="/images/icons/arrow_switch.png" /> Move
    </a></li>
</ul>
{% endblock %}

{% block content %}
<div id="char_avatar" style="width: 90px; float: left">
    <img src="{{character|avatar}}" />
    <div style="float: right; width: 20px;">{{ character|factionicon }}{{character|raceicon}}{{character|classicon}}</div>
</div>
<div id="char_infos" style="float:left; margin-left: 10px">
    <table style="text-align: left">
        <tr>
            <th>Realm:</th>
            <td>{{character.realm.name}}</td>
        </tr>
        <tr>
            <th>Level:</th>
            <td>{{character.level}}</td>
        </tr>
        <tr>
            <th>Gold:</th>
            <td>{{character|money}}</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>{{ character|mapname }} - {{ character|zonename }}</td>
        </tr>
    </table>
</div>
<div style="width: 50%; float: right;">
    {% set cheats_body %}{{ include_over_ajax("cheats", link_to('cheat_log','index',{'partial': 1, 'guid': character.guid})) }}{% endset %}
    {{ macros.box('Cheat-Log Entries', cheats_body) }}
</div>
{% endblock content %}
