input {
	width: 100%;
	border: 1px solid #999;
	background-color: #222;
	color: #FFF;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

label {
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
	font-weight: bold;
	width: 100%;
	display:block;
}

#form-status-msg {
	width: 100%;
	display: block;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.error {
	color: red;
}

.success {
	color: green;
}