<form method="post" id="form" class="niceform" name="form" action="{{link_to('account_partners','create')}}">
    <fieldset>
        <input type="hidden" name="account_id" value="{{ account_id }}"/>
        
        <label for="partner">Partnername or ID</label>
        <input type="text" name="partner" value="" />

        <label for="comment">Comment</label>
        <textarea name="comment"></textarea>
        
        <label for="temp">Temporary</label>
        <input type="checkbox" name="temp" value="temp" onClick="javascript:toggle('temp_box');" />

        <div id="temp_box" style="display: none">
        <label for="until_date">Until</label>
        {{ selectDate() }}
        </div>

        <input type="submit" name="submit" value="Save" />
    </fieldset>
</form>