{% extends "layout.tpl.html" %}

{% block head %}
    {{insert_css("ui-darkness/jquery-ui-1.8.9.custom.css")}}
    {{insert_css("jquery.jnotify.css")}}
    {{insert_javascript("jquery-1.4.4.min.js")}}
    {{insert_javascript("jquery-ui-1.8.9.custom.min.js")}}
    {{insert_javascript("jquery.jnotify.js")}}
    {{insert_javascript("jquery-form-function.js")}}
    {{insert_javascript("functions.js")}}
{% endblock %}

{% block topbar %}
    {% include "nav.tpl.html" %}         
{% endblock %}

{% block header %}
<div id="searchbox">
    <form id="searchform" action="/search/index" method="post">
        <input type="textbox" name="query" id="searchquery" value="" />
        <select name="type">
            <option>Account</option>
            <option>Character</option>
            <option>Guild</option>
        </select>
        <input type="submit" name="search" id="searchbutton" value="Search" />
    </form>
</div>
{% endblock %}

{% block center %}
<div id="subheader">
    <div id="contentmenu">
        {% block contentmenu %}{% endblock %}
    </div>
    {% block headline %}{% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block foot %}
    {% if flash %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('#notifications').jnotifyInizialize({
                oneAtTime: true
            })

            $('#notifications').jnotifyAddMessage({
                text: '{{ flash.msg }}',
                {% if flash.type == 'error' %}
                permanent: true,
                type: 'error'	
                {% else %}
                permanent: false
                {% endif %}
            });
        });
    </script>
    {% endif %}
{% endblock %}
