<ul id="nav">
    {% if permitted_to('index','home') %}
    <li><a href="{{link_to('home', 'index')}}">Home</a></li>
    {% endif %}
    {% if permitted_to('index','accounts') %}
    <li><a href="{{link_to('accounts', 'index')}}">Accounts</a></li>
    {% endif %}
    {% if permitted_to('index','characters') %}
    <li><a href="{{link_to('characters', 'index')}}">Characters</a></li>
    {% endif %}
    {% if permitted_to('index','guilds') %}
    <li><a href="{{link_to('guilds', 'index')}}">Guilds</a></li>
    {% endif %}
    {% if permitted_to('index','premiumcodes') %}
    <li><a href="{{link_to('premium_codes', 'index')}}">Premium-Codes</a>
        <ul>
            {% if permitted_to('create','premiumcodes') %}
            <li><a class="remote_form" title="Add PremiumCode" href="{{link_to('premium_codes', 'add')}}">Add</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    <li><a>Logs</a>
        <ul>
            {% if permitted_to('index','cheat_log') %}
            <li><a href="{{link_to('cheat_log', 'index')}}">Cheaters</a></li>
            {% endif %}
        </ul>
    </li>
    {% if permitted_to('index','realms') %}
    <li><a>Loginserver</a>
        <ul>
            <li><a href="{{link_to('account_acl', 'index')}}">Access Levels</a></li>
            <li><a href="{{link_to('realms', 'index')}}">Realmlist</a></li>
        </ul>
    </li>
    {% endif %}
</ul>

