<ul id="nav">
    <li><a href="{{link_to('home', 'index')}}">Home</a>
    </li>
    <li><a href="{{link_to('accounts', 'index')}}">Accounts</a>
    </li>
    <li><a href="{{link_to('characters', 'index')}}">Characters</a>
    </li>
    <li><a href="{{link_to('guilds', 'index')}}">Guilds</a>
    </li>
    <li><a href="#">Premium-Codes</a>
        <ul>
            <li><a href="#">Search</a></li>
        </ul>
    </li>
    <li><a>Loginserver</a>
        <ul>
            <li><a href="{{link_to('accesslevels', 'index')}}">Access Levels</a></li>
            <li><a href="{{link_to('realms', 'index')}}">Realmlist</a></li>
        </ul>
    </li>
</ul>

