<form method="get" id="form" name="form" action="{{link_to('accounts','index')}}">
    <fieldset>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ params.username }}" />

        <label for="id">ID</label>
        <input type="text" name="id" value="{{ params.id }}" />
        
        <label for="email">E-Mail</label>
        <input type="text" name="email" value="{{ params.email }}" />
        
        <label for="last_ip">IP</label>
        <input type="text" name="last_ip" value="{{ params.last_ip }}" />
        
        <input type="submit" name="submit" value="Filter" />
    </fieldset>
</form>

    