{% extends "base.tpl.html" %}

{% block headline %}
<h2>{{ t('accounts') }}</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    {% if permitted_to('add','accounts') %}
    <li><a class="remote_form button" width=500 title="Add Account {{account.id}}" href="{{link_to('accounts', 'add', {'account_id': account.id})}}">
        <img src="/images/icons/add.png" /> Add
    </a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{% include "filter.tpl.html" %}
{{ pagination_bar('Account', acc_count) }}
<table class="hovering">
    <thead>
        <tr>
            <th class="narrow">{{ t('id') }}</th>
            <th>{{ t('name') }}</th>
            <th>{{ t('email') }}</th>
            <th>{{ t('ip') }}</th>
            <th style="width: 50px">{{ t('status') }}</th>
        </tr>
    </thead>
    <tbody>
	{% for account in accounts %}
        <tr>
            <td>{{account.id}}</td>
            <td><a href="{{link_to('accounts','show',{'id': account.id})}}">{{account.username}}</a></td>
            <td>{{ account.email }}</td>
            <td>{{ account.last_ip }}</td>
            <td>{{account|account_status}}</span></td>
        </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock %}