{% extends "base.tpl.html" %}

{% block headline %}
<h2>Accounts</h2>
{% endblock %}

{% block contentmenu %}
{% endblock %}

{% block content %}
{{ pagination_bar('Account', acc_count) }}
<table class="hovering">
    <thead>
        <tr>
            <th class="narrow">Id</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>IP</th>
            <th style="width: 50px">Status</th>
        </tr>
    </thead>
    <tbody>
	{% for account in accounts %}
        <tr>
            <td>{{account.id}}</td>
            <td><a href="{{link_to('accounts','show',{'id': account.id})}}">{{account.username}}</a></td>
            <td>{{ account.email }}</td>
            <td>{{ account.last_ip }}</td>
            <td>{{account|account_status}}</span></td>
        </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock %}