{% extends "base.tpl.html" %}

{% block headline %}
<h2>Accounts</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    <li><a href="#">Add</a></li>
    <li><a href="#">Test</a></li>
</ul>
{% endblock %}

{% block content %}
<table class="chars">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="narrow">Status</th>
        </tr>
    </thead>
    <tbody>
	{% for account in accounts %}
        <tr>
            <td>{{account.id}}</td>
            <td>{{account.username}}</td>
            <td class="narrow">{{account.online|online}}|{{account.locked|locked}}</td>
        </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock %}