<table style="text-align: center">
    <thead>
        <tr>
            <th>Account</th>
            <th>Until</th>
            <th>Comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for partner in partners %}
        <tr>
            {% if partner.account.id == account.id %}
            <td>{{ link_to_account(partner.partner) }}</td>
            {% else %}
            <td>{{ link_to_account(partner.account) }}</td>
            {% endif %}
            <td>{% if partner.until is not empty %}{{ partner.until|date }}{% endif %}</td>
            <td>{{ partner.comment }}</td>
            <td><a href="{{link_to('account_partners', 'delete', {'id': partner.id})}}" class="confirm"><img src="/images/icons/delete.png" /></a></td>
        </tr>
	{% endfor %}
    </tbody>
</table>
