{% extends "base.tpl.html" %}

{% block headline %}
<h2>#{{account.id}} {{account.username}}</h2>
{% endblock %}

{% block content %}
<div style="float:left; width: 40%">
<table>
    <tr>
        <th>EMail</th>
        <td>{{account.email}}</td>
    </tr>
    <tr>
        <th>IP</th>
        <td>{{account.last_ip}}</td>
    </tr>
    <tr>
        <th>Join Date</th>
        <td>{{account.joindate|date}}</td>
    </tr>
    <tr>
        <th>Last Login</th>
        <td>{{account.last_login|date}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td colspan=3>{{account|account_status}}</td>
    </tr>
</table>
</div>
<div style="float:right; width: 60%">
    {% include "characters.tpl.html" %} 
    {% include "accounts.tpl.html" %} 
</div>






{% endblock %}