{% extends "base.tpl.html" %}

{% block headline %}
<h2>#{{account.id}} {{account.username}} ({{account.email}})</h2>
{% endblock %}

{% block contentmenu %}
<ul>
    <li><a class="remote_form button" title="Edit Account {{account.id}}" href="{{link_to('accounts', 'edit', {'id': account.id})}}">
        <img src="/images/icons/user_edit.png" /> Edit
    </a></li>
    <li><a class="remote_form button" width=500 title="Add Comment To Account {{account.id}}" href="{{link_to('comments', 'add', {'account_id': account.id})}}">
        <img src="/images/icons/comment_add.png" /> Comment
    </a></li>
    <li><a class="remote_form button" width=500 title="Add Partner To Account {{account.id}}" href="{{link_to('account_partners', 'add', {'account_id': account.id})}}">
        <img src="/images/icons/arrow_switch.png" /> Add Partner
    </a></li>
</ul>
{% endblock %}

{% block content %}
<div class="box">
    <table style="text-align: left;">
        <tr>
            <th class="narrow">IP:</th>
            <td>{{account.last_ip}}</td>
            <td></td>
            <th class="narrow">JoinDate:</th>
            <td>{{account.joindate|date}}</td>
            <td></td>
            <th class="narrow">LastLogin:</th>
            <td>{{account.last_login|date}}</td>
            <td></td>
            <th class="narrow">Status:</th>
            <td>{{account|account_status}}</td>
        </tr>
    </table>
</div>

<div style="float:left; width: 49%">
    {% set bans_body %}{% include "shared/bans.tpl.html" %}{% endset %}
    {{ macros.box('Bans', bans_body) }}

    {% set partners_body %}{% include "partners.tpl.html" %}{% endset %}
    {{ macros.box('Partners', partners_body) }}

    {% set sameip_body %}{% include "shared/accounts.tpl.html" %}{% endset %}
    {{ macros.box('Accounts with same IP', sameip_body) }}

    {% set chars_body %}{% include "shared/characters.tpl.html" %}{% endset %}
    {{ macros.box('Characters', chars_body) }}
</div>
<div style="float:right; width: 49%">
    {% set comments_body %}{% include "shared/comments.tpl.html" %}{% endset %}
    {{ macros.box('Comments', comments_body) }}
</div>
<div style="clear: both;"></div>
{% endblock %}